PORT=4000
SUPABASE_URL=https://uiaaithmlzlypjxlfjen.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpYWFpdGhtbHpseXBqeGxmamVuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTcxNjIzMywiZXhwIjoyMTA1MjkyMjMzfQ.fhKAKpl3uin67LngkIWrvcEf6Nf1Ks8Uz3v9PVVbQgA
JWT_SECRET=ganti_dengan_random_string_panjang
MQTT_BROKER_URL=mqtts://broker-anda:8883
WHATSAPP_GATEWAY_API_KEY=xxxxxxxxxx